* {
  box-sizing: border-box;
}

body {
  background-color: #ffffcc;

}

.content a {
  text-decoration: none;
  color: white;
}
.content a:hover {
  color: red;

}

blockquote {
  text-align: center;
  color: gray;
  font-size: 20px;
}
/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: white;
}
.column img {
  height: 145px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
